@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
.section-p1{
    padding: 20px 20px;
}
:root {
    --rd: 20px;
    --bg-light: hsl(0, 0%, 100%);
    --bg: hsl(31, 74%, 85%);
    --bg-dark: hsl(31, 74%, 80%);
    --txtl: hsl(31, 74%, 25%);
    --txt: #0d0d0d;
    --txtlink: #000000;
    --bckb: hsl(31, 74%, 10%);
    --bck:  hsl(31, 74%, 60%);
    --bckl: hsl(31, 74%, 70%);
}
.body {
    background-image: url(bg.jpg);
    background-size: cover;
}
/*animations*/
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-5em);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-left{
    0%{
        opacity: 0;
        transform: translateX(-50px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes fade-right{
    0%{
        opacity: 0;
        transform: translateX(50px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes apart{
    0%{
        display: none;
        transform: translateX(-5px) scale(0.9);
    }

    100%{
        transform: translateX(0px) scale(1);
    }
}
/*header*/
.navbar {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-shadow: 0 5px 10px #00000079;
    background: var(--bck);
    z-index: 999;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
}  
.navbar img {
    width: 50px;
    margin-right: 2px;
}
.navbar #hi {
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center; 
}
.navbar #hi div {
    padding: 15px;
}
.navbar #dr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar #dr a{
    text-decoration: none;
    color: var(--txt);
}
.navbar #dr a :hover{
    color: var(--txtl);
    
}
.icon{
    margin-right: 2px;
    display: flex;
}
.icon span {
    margin: 0 5px;

}

.navbar #dr #pa {
    margin-bottom: 5px;
    display: flex;
}
/*end of header*/
/* hero*/

#hero {
    height: 88.5vh;
    box-sizing: border-box;
    padding: 12% 9%;
    overflow: hidden;
    background: radial-gradient(farthest-corner at 20% 0, var(--bckl) 50%, transparent) ;
}
#hero h1 {
    font-size: 3em;
    margin-bottom: 5px;
    animation: fade-left 0.5s;
}
#hero hr {
    width: 30%;
    background-color: var(--bck);
    height: 4px;
    border: none;
    animation: fade-left 0.6s;
}
#hero p {
    margin-top: 10px;
    animation: fade-left 0.7s;
}
#hero button{
    height: fit-content;
    width: fit-content;
    padding: 8px;
    background: var(--bckb);
    font-size: 1em;
    color: var(--bck);
    border-radius: var(--rd);
    border: none;
    margin-top: 10px;
    transition: 0.4s ease;
    animation: fade-left 0.8s;
}
#hero button:hover{
    background: var(--bck);
    color: var(--txt);
    cursor: pointer;
}

/*hero*/
/*footer*/
footer{
    width: 100%;
    height: fit-content;
    padding: 10px 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bck);
}

footer img{
    width: 200px;
    position: absolute;
}
footer img:nth-child(1){
    left: 40px;
    bottom: -100px;
}
footer img:nth-child(2){
    right: 40px;
    top: -100px;
}

footer h4 {
    font-size: 20px;
    color: var(--txt);
    padding-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: var(--txt);
    margin-bottom: 5px;
}
.quick{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .copyright {
    width: 100%;
    text-align: center;
}
/*end footer*/
/*register*/
.content{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    animation: fade-up 0.5s;
}
#prez{
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#prez a {
    color: var(--bckb);
}
#prez a:hover{
    color: var(--bckl);
}
#prez a:active{
    color: var(--bg-light);
}

#brad {
    height: fit-content;
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: var(--rd);
    background-color: var(--bg);
    overflow: hidden;
    position: relative;
}
#brad span{
    width: fit-content;
    display: flex;
    padding-top: 11%;
    padding-left: 20px;
    flex-direction: column;

}
span img{
    width: 6%;
    position: absolute;
    top: 30px;
    left: 30px;
}
form {
    width: 40%;
    height: fit-content;
    box-sizing: border-box;
    background-color: var(--bg);
    padding: 30px;
}

.apt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rtn {
    background-color: var(--bg-dark);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: var(--txt);
    border-radius: var(--rd);
    box-sizing: border-box;
    border: none;
    animation: fade-left 0.4s;
    cursor: pointer;
}
#brad input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: var(--rd);
    padding: 0 10px;
    border: var(--bck) solid 3px;
    outline: none;
}
#brad #send{
    background: var(--bg);
    color: var(--bck);
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
}
#brad #send:hover{
    background: var(--bg-dark);
}
form a {
    color: var(--txtlink);
    margin-bottom: 5px;
}

 
#loc{
    margin-top: 20px;
    padding-left: 10px;
    width: fit-content;
    height: 30px;
    background: var(--bg-dark);
    border: var(--bck) solid 3px;
    color: var(--bck);
    border-radius: var(--rd);
    user-select: var(--bck);
    cursor: pointer;
}
#riri {
    height: 80vh;
    width: 100%;
    background-color: var(--bg-light);
}
/*end register*/
/*home*/
#presentation{
    overflow: hidden;
}
#her{
    height: 30vh;
    box-sizing: border-box;
    padding: 12% 9%;
    overflow: hidden;
    background: var(--bg-dark);
}

#topic{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

#topic span {
    position: relative;
    text-align: left;
    width: 55%;
    height: fit-content;
    animation: fade-left 0.6s;
}
#topic span:nth-child(2n){
    text-align: right;
    
    animation: fade-right 0.5s;
    
}
#topic span div{
    font-size: 2em;
    font-weight: 600;
}
#topic span div:nth-child(2n){
    right: 10px;
    position: absolute;
    width:fit-content;
    animation: fade-right 0.6s;
}
#topic .img {
    width: 40vw;
    height:110vh ;
    position: relative;
    background-color: var(--bck);
    border-radius: 0% 23% 27% 24% / 0% 23% 33% 35% ;
}
#topic .img:nth-child(2n){
    border-radius: 31% 0% 20% 24% / 24% 0% 22% 37% ;
}
#topic .img img {
    width: 100%;
}
#topic p{
    color: var(--txt);
    margin: 10px 0 10px 0;
}
#topic h2{
    margin-bottom: 10px;
    color: var(--txt);
}
#topic .title {
    margin-bottom: 30px;
    position: relative;
    color: var(--bg-dark);
    font-size: 2em;
}
#topic .title span{
    color: var(--bck);
    bottom: -25px;
    right: 47px;

}

.slider {
    display: flex;
    position: relative;
    background: var(--bg);
    height: fit-content;
    
}
.slider .slide{
    width: 100%;
    display: flex;
    height: 365px;
    padding-left: 15px;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    flex: none;
    overflow-x: scroll;
}
.slider .cat{
    position: absolute;
    top: -30px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    font-size: 1.25em;
    font-weight: 600;
    padding: 10px;
    background-color: var(--bg-dark);
    color: var(--txt);
    border-radius: var(--rd);
}
.slider .slide::-webkit-scrollbar {
    height: 0;
}
#box {
    background-color: var(--bg-dark);
    border-radius: var(--rd);
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 354px;
    width: 354px;
    color: var(--txt);
    overflow: hidden;
    transition: 0.4s ease;
}

#box:hover {
    scale: 1.025;
    #show{
        filter: brightness(60%) grayscale(100%);
        top: -110px;
    }
}
#show{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.4s ease-out;
    border-radius: var(--rd);
}
.slider div #box .text{
    display: block;
    padding: 10px 0 10px 10px;
}
.slider div #box div{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.slider div a {
    text-decoration: none;
}

#backBtn{
    height: 100%;
    width: 40px;
    background: linear-gradient(to right, var(--bg-dark) 50%, transparent) ;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    padding: 10px;
    z-index: 100;
    color: var(--txt);
    align-items: center;

}
#nextBtn{
    height: 100%;
    width: 40px;
    background: linear-gradient(to left, var(--bg-dark) 50%, transparent) ;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    color: var(--txt);
    padding: 10px;
    align-items: center;
}
.slider .more{
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider .more i{
    font-size: 49px;
    transform: translate(-10px,0.5px);
    color: var(--bckb);
}
.slider .more hr {
    width: 80%;
    height: 6px;
    z-index: 102;
    background-color: var(--bckb);
    border: none;
}
.slider .more a{
    font-size: 1.25em;
    font-weight: 700;
}
/*end home*/